---
import Layout from '../layouts/Layout.astro';
import Presentacion from '@/components/Presentacion/Presentacion.astro';
import SobreMi from '@/components/SobreMi/SobreMi.astro';
import Proyectos from '@/components/Proyectos/Proyectos.astro';
import Contacto from '@/components/Contacto/Contacto.astro';
---

<Layout title="Portfolio | Joaquin Lucero">
  <main class="min-h-dvh">
    <Presentacion/>
    <SobreMi/>
    <Proyectos/>
    <Contacto/>
  </main>
</Layout>