---
import Layout from '../layouts/Layout.astro';
import Presentacion from '@/components/Presentacion/Presentacion.astro';
---

<Layout title="Portfolio | Joaquin Lucero">
  <main class="min-h-dvh">
    <Presentacion/>
    <!-- <section>sobre mi</section>
    <section>skills y hobbies</section>
    <section>proyectos</section>
    <section>contacto</section> -->
  </main>
</Layout>