---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portfolio | Joaquin Lucero">
  <header>
    <nav></nav>
  </header>
  <main class="min-h-dvh bg-black text-white">
    <section>presentacion</section>
    <section>sobre mi</section>
    <section>skills y hobbies</section>
    <section>proyectos</section>
    <section>contacto</section>
  </main>
  <footer></footer>
</Layout>