---
---

<header id="mainHeader" class="w-full fixed top-0 left-0 backdrop-blur z-50">
  <div class="w-full max-w-screen-xl mx-auto px-5 md:px-10 py-4">
    <div class="w-full h-full flex items-center justify-between">
      <div class="text-2xl"><a href="/">✨</a></div>
      <nav class="flex items-center text-sm font-medium gap-10">
        <a href="#sobre-mi" class="transition-all duration-300 ease-out hover:-translate-y-1 hover:text-sky-300">Sobre mi</a>
        <a href="#proyectos" class="transition-all duration-300 ease-out hover:-translate-y-1 hover:text-sky-300">Proyectos</a>
        <a href="#contacto" class="transition-all duration-300 ease-out hover:-translate-y-1 hover:text-sky-300">Contacto</a>
      </nav>
    </div>
  </div>
</header>

<script>
  const header = document.querySelector('#mainHeader') as HTMLElement;
  const observerOptions = {
    root: null,
    rootMargin: '0px', // en cuanto se vea el elemento
    threshold: 0.5 // porcentaje de visibilidad
  }

  const observer = new IntersectionObserver((entries, observer) => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        const color = entry.target.getAttribute('data-header-nav-color');
        header.style.color = color;
      }
    })
  }, observerOptions)

  const sections = document.querySelectorAll('section');
  sections.forEach(section => {
    observer.observe(section);
  })
</script>