---
import Form from "@/components/Contacto/Form"
---

<section id="contacto" class="w-full relative scroll-mt-4">
  <div class="py-20 md:py-40 w-full max-w-screen-xl mx-auto px-5 md:px-10">
    <div class="w-full flex flex-wrap gap-12">
      <div class="w-full lg:flex-[1_0_5rem]">
        <h2 class="text-5xl md:text-7xl font-semibold break-words">¡Trabajemos juntos!</h2>
      </div>
      <div class="w-full lg:flex-[1_0_5rem]">
        <Form client:load/>
      </div>
    </div>
  </div>
</section>